<% include ./partials/header %>
<!-- <form action="/tweet", method="POST", enctype="multipart/form-data">
    <div class="container create-post post-container">
        <div class="row post-area d-flex justify-content-center">
            <div class="col-md-6">      
                <div class="form-group">
                    <textarea class="form-control" type="text", name="text", placeholder="What's on your mind?" id="exampleFormControlTextarea3" rows="7"></textarea>
                </div>
            </div>
        </div>    
    </div>
    <div>
        <input type="file" accept="image/*" name="photo" >
    </div>
    <input type="submit" value="upload">
</form> -->
<div class="container post-container"> 
    <div class="left-column">      
        <div class="twitter-form row post-area post-row d-flex ">
            <div class="col-md-12">      
                <form action="/tweet" method="POST" enctype="multipart/form-data" class="form-group twitter-text-area">
                    <textarea class="form-control" type="text" name="text" placeholder="" id="exampleFormControlTextarea3" rows="7"></textarea>
                    <img id="output">
                    <div class="col-md-12 upload-btn-wrapper">
                            <button class="choose-btn"><i class="fas fa-images"></i></button>
                            <input type="file" accept="image/*" name="photo" onchange="loadFile(event)"/>
                            
                    </div>
                    <div class="col-md-12 upload-btn-wrapper-submit">
                            <!-- <input type="submit" class="submit-btn" value="submit"> -->
                        <button class="submit-btn" type="submit">submit <i class="fab fa-twitter"></i></button>
                    </div>
                </form>
            </div>                    
        </div>  
        <div class="reddit-form row post-area post-row d-flex">
            <div class="col-md-12 ">      
                <form action="/reddit_post" method="POST"  class="form-group reddit-text-area">
                    <div class="container reddit-post-container">
                            <div class="row justify-content-center reddit-post-content">
                                <div class="col-md-12 form-group">
                                    <input class="form-control" type="text" name="title" placeholder="Title">            
                                </div>
                            </div>
                            <div class="row justify-content-center reddit-post-content reddit-post">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" placeholder="Text(optional)" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>         
                                </div>
                            </div>
                            <div class="row justify-content-center reddit-post-content reddit-link reddit-link-or-post">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" placeholder="Url" name="url" id="exampleFormControlTextarea1" rows="3"></textarea>         
                                </div>
                            </div>
                            <div class="row reddit-post-choose">
                                <div class="col-md-3 form-group">
                                    <a onclick="showPost()"><i class="fas fa-file-alt"></i> Post</a>                
                                </div>
                                <div class="col-md-3 form-group">
                                    <a onclick="showLink()"><i class="fas fa-link"></i> Link</a>                
                                </div>
                                <div class="col-md-6 form-group text-right">
                                    <button class="submit-btn" type="submit">submit <i class="fab fa-reddit"></i></button>              
                                </div>
                            </div>

                    </div>
                </form>
            </div>                    
        </div>       
    </div>       
    <div class="right-column">
        <% reddit.forEach((r)=>{ %>
            <div class="row post-row d-flex justify-content-center">
                <div class="col-md-9 col-sm-9">   
                    <div class="card" >
                        <div class="card-body">
                            <div class="post-title">
                                <div id="left">
                                    <h5 class="card-title"><%= r.author %> <span class="subreddit_name"> <%= r.subreddit_name_prefixed %> </span></h5> 
                                </div>
                                <div id="right">
                                    <i class="fab fa-reddit fa-2x"></i>
                                </div>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted"><%= r.title %></h6>
                            <p class="card-text"><%= r.selftext %></p>
                        </div>
                    </div>     
                </div>    
            </div>
         <% }) %>
         <% twitter.forEach((t)=>{ %>
        
            <div class="row post-row d-flex justify-content-center">
                <div class="col-md-9 col-sm-9">   
                    <div class="card" >
                        <div class="card-body">
                            <div class="post-title">
                                <div id="left">
                                    <h5 class="card-title"><%=t.user.name %> <span class="subreddit_name grey-text"> <%= t.created_at %> </span></h5> 
                                </div>
                                <div id="right">
                                    <i class="fab fa-twitter-square fa-2x"></i>
                                </div>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text"><%= t.texts %></p>
                        </div>
                        <% if (t.image !== ""){ %>
                            <img src='<%= t.image %>' class="card-img-top" alt="...">
                        <% } %>
                      
                    </div>     
                </div>    
            </div>
         <% }) %>
    </div>
</div>

<!-- <div class="container post-container">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
</div> -->

<script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };

    var showPost = function(){
        $(".reddit-post").removeClass("reddit-link-or-post");
        $(".reddit-link").addClass("reddit-link-or-post");
    }

    var showLink = function(){
        $(".reddit-post").addClass("reddit-link-or-post");
        $(".reddit-link").removeClass("reddit-link-or-post");
    }
</script>
<% include ./partials/footer %>